.book-list-preview {
    display: flex;
    justify-content: space-between;
    background-color: white;
    background-image: linear-gradient(to right, orange 3%, rgba(0, 0, 0, 0) 3%);
    padding: em(16px);
    margin-top: 16px;
    box-shadow: 1px 1px 1px gray;

    .nice-btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 16px;
        max-height: 20px;
    }
}