.book-list-preview{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: em(16px);
    margin-top: 16px;
    box-shadow: 1px 1px 1px gray;

    .nice-btn{
        margin-left: 16px;
    }
}